<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Üyeleri Yönet</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body d-flex">
            <div class="container">
                <div class="row">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>User Id</th>
                            <th>User Name</th>
                            <th>User Mail</th>
                            <th>User Password</th>
                            <th>User Type</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody *ngFor="let item of user">
                            <td>{{item.key}}</td>
                            <td>{{item.UserName}}</td>
                            <td>{{item.UserMail}}</td>
                            <td>{{item.UserCdate}}</td>
                            <td>{{item.UserType}}</td>
                            <td><button class="btn btn-warning">Düzenle</button></td>
                            <td><button class="btn btn-danger">Sil</button></td>
                        </tbody>
                    </table>
                    <div class="container aling-center">
                        <div class="row col-md-6  mt-3">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" #name placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" #userid placeholder="User Id">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" #utype>
                    <option *ngFor="let type of usertypes" value="{{type.typeName}}">{{type.typeName}}</option>
                  </select>
                                </div>
                                <button (click)="create(name.value,userid.value,utype.value)" class="btn btn-primary">gönder</button>
                            </form>
                        </div>

                        <div class="row col-md-6 mt-3">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" #typename placeholder="Enter user type name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" #typeid placeholder="User Id">
                                </div>
                                <button (click)="createUserType(typeid.value,typename.value)" class="btn btn-primary">gönder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!---->